/* HOME PAGE */
body {
  font-size: 17px;
  color: #fff;
  background-color: #3CAEA3;
}
/** HEADER **/
#header-nav {
  background-color: #173F5F;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
  font-family: 'Oxygen', sans-serif;

}
.navbar-brand h1 { /*Pages name*/
  color: #F6D55C;
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0px;
  margin-bottom: 10px;
}


.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;

}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #3CAEA3;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -28.5px;
  margin-bottom: 8px;
}

#textbox {
  background-color: #D26B44;  
  border-radius: 7px;
  padding: 5px;
  padding-top: 10px;
  margin-bottom: 25px;
  font-family: 'Nunito', sans-serif; 
  text-align: center;
  color: black;
}
#fonthigh {
  font-size: 1.5em;
}
.text-left {
  text-align: left;
  margin-left: 33px;
}

.text-center{
  color: black;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 2em;
}

#game-text {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  color: black;
  text-align: left;
  overflow-wrap: break-word;
  white-space: normal;
  overflow: auto;
  padding: 8px;
  padding-top: 0;
  font-size: 1.2em;
  line-height: 27px;
  font-family: 'Nunito', sans-serif;
}


/* END HEADER */

/********** Large devices only **********/
@media (min-width: 1200px) {
  .col-lg-12{
    width: 93%;
    margin-left: 3.3%;
  }
  #nav-list a {
  margin-top: 10px;
  visibility: hidden;
}
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

  #nav-list a {
  margin-top: 10px;
  visibility: hidden;
}

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
   .col-sm-12{
    width: 90%;
    margin-left: 5%;
  }
  #nav-list a {
  margin-top: 10px;
  visibility: hidden;
}

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 69px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-bottom: : 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  .col-xs {
    width: 80%;
    margin-left: 10%;
  }
  .navbar-brand h1{ /*Pages name*/
    font-size: 1.5em;
    margin-top: 18.5px;
  } 
  .navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
  margin-bottom: 18px;
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    font-size: 6vw;
  }
  /* End Header */

  .col-xxs-12 {
    float: left;
    width: 80%;
    margin-left: 10%;
  }
}



